<h1>New Post</h1>

<%= form_for(@post) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :content %>
    <%= f.text_area :content %>

    <%= f.label :category_id %>
    <%= f.number_field :category_id %>

    <%= f.submit %>

<% end %>